.form {
display: flex;
flex-direction: column;
max-width: 200px;
margin: 0 auto;
}

/* .form input {
    display: block;
} */

.required::after {
    content: '*';
    color: red
}

textarea {
    resize: none;
}

input:required {

}

input:optional {

}
input:checked {
background-color: blueviolet;
}

input:disabled {

}

input:valid {

    border: 2px solid green;
}

input:invalid {
    border: 2px solid red;
}

input::placeholder {
    background-color: pink;
}